---
title: "Weight conversion Constructor Library"
order: 1
date: 2022-01-12
methods: ['Constructor Pattern', 'Constructor.prototype']
templateEngineOverride: njk, md
---


{% set html %}
<p>Everything here happens in the console. Have a look.</p>
{% endset %}


{% set description %}
It was nice.
The idea of simply passing the project to a constructor wasn't that hard in itself.
However, I struggled because in the loop I use to create the functions because
the loop ran and then all the functions used the same factor corresponding to the
last one (Ton). I had to use an IIFE in order for the function to actually use
value at the moment it ran.

I think in this case my elegant solution wasn't as simple as I would want, but 
at the end it works and still have the ability to add as many units as I'd like
afterwards.

There was a mistake because in the functions I modified the value of weight, but
all the functions still assumed it was in miligrams. It's now fixed.
{% endset %}


{% include "project.njk" %}