---
title: "Weight conversion Library"
order: 0
date: 2022-01-10
methods: ['Utility Libraries', 'Revealing Module Pattern']
templateEngineOverride: njk, md
---


{% set html %}
<p>For the moment, all the magic happens in the console... 
    With some time available, maybe I can make a nice simple UI.</p>
{% endset %}


{% set description %}
It's nice to be back in the game...

For today's project I let out the physicist there's in me and had some fun with unit math.
I think the library in this case is pretty simple, but I left it so that
it was basically done alone and I can just add whatever units I want in the unit
object.
{% endset %}


{% include "project.njk" %}