---
title: "Weight conversion Constructor Library"
order: 1
date: 2022-01-12
methods: ['Constructor Pattern', 'Constructor.prototype']
templateEngineOverride: njk, md
---


{% set html %}
<p>Everything here happens in the console. Have a look.</p>
{% endset %}


{% set description %}
{% endset %}


{% include "project.njk" %}