---
title: "Dice Library: Destroy"
order: 30
date: 2021-09-07
methods: ['Destroying an instance', 'Element.remove()', 'removeEventListener()']
templateEngineOverride: njk, md
---


{% set html %}
<p>
	<button id="d6">Roll a D6</button>
	<button id="d20">Roll a D20</button>
</p>

<div id="result" aria-live="polite"></div>
{% endset %}

{% set description %}
The first thing I did was to modify some things that made more sense in the solution
of the previous project than in mine. At first it felt somewhat strange but it 
did end up in less and more readable code, so it's better. 

In this one I struggled with how should it be destroyed:

- First I removed the event listener and the elements, however as it is possible that
	2 elements may use the same display, that cannot be removed. I could've removed
	just the button, but I thought that as the button is not injected in the library,
	Maybe it was better just to disable it.

- Then after this was done I found that removing the event listener and disabling
	the button worked for click, but I could still run the roll method. I first 
	thought to add a disabled property to the Constructor and then work out the
	logic in the function, however this was to complicated.

- Then I realized I could just redefine the function in the destroy to null, but
	when I did this and I tried to call the roll function after destroying I got
	an error because null is not callable. I think this was not an optimal way to 
	work.

- Finally I redefined the roll function with a new function that only retruns null.
	This way it doesn't work any more, but still doesn't throw an error. I think this
	was good.

### UPDATE: 

Okay, so I had some mistakes. First, I didn't remove the event listener
correctly, I had misunderstood the use of the event listener and I wasn't attaching
it to the element, just running as a standalone function and additionally I was
returning the event listener creation which is undefined, not the function.
It only worked because I also updated the roll method that the event used.
additionally, I chenged to the double defineProperties because I was just using 
`this._listener = createEventListener(this);` but with define it remains unchangeable
so it is better.

I assigned the function to null. At first it seemed wierd to me that with it it throws
an error so as I commented above I decided to turn it into a function, but while
watching the video I came to realize that it made more sense like this because the
idea of the destroy is to destroy the instance so yes, that function doesn't exist
and an error is the best approach.

Finally I also added the part in the destroy that clears the display. 
{% endset %}

{% include "project.njk" %}

