---
title: "Announcing the count"
order: 6
date: 2021-06-11
methods: ['Aria live regions', 'Aria atomic']
templateEngineOverride: njk, md
---


{% set html %}
<label for="text">Enter your text below.</label>
<textarea id="text"></textarea>
<div aria-live="polite" aria-atomic="true">
<p>You've written <strong><span data-count="words">0</span> words</strong> and <strong><span data-count="char">0</span> characters</strong>.</p>
</div>
{% endset %}

{% set js %}
//Select elements from DOM
let text = document.querySelector("#text");
let counters = document.querySelectorAll("[data-count]");

// counters
let countHandlers = {
  words: function (textInput) {
	return textInput.value.split(/[\s]+/g).filter(function (item) {
	  return !!(item.trim());
	}).length; 
  },
  char: function (textInput) {
	return textInput.value.length;
  }
};

// Event listener
text.addEventListener('input', function(event) {
  for (let counter of counters) {
	let countHandler = counter.getAttribute('data-count');
	if (!countHandler || !countHandlers[countHandler]) return;
	counter.innerText = countHandlers[countHandler](event.target);
  }
});
{% endset %}


{% set description %}

{% endset %}


{% include "project.njk" %}

