---
title: "Monster Shuffle!"
order: 14
date: 2021-06-28
methods: ['Shuffle Arrays', 'Accessible images']
templateEngineOverride: njk, md
---


{% set html %}
<div data-app class="auto-grid"></div>
<footer>
    <small class="text-small text-muted">Icons by <a href="https://thenounproject.com/term/door/311732/">Jamie Dickinson</a>, <a href="https://thenounproject.com/term/monster/184225/">Nicky Knicky</a>, <a href="https://thenounproject.com/term/monster/1510400/">Alvaro Cabrera</a>, <a href="https://thenounproject.com/term/monster/28460/">Eliricon</a>, <a href="https://thenounproject.com/term/monster/82823/">April Yang</a>, <a href="https://thenounproject.com/term/monster/1062009/">tk66</a>, <a href="https://thenounproject.com/term/monster/24990/">Alex WaZa</a>, <a href="https://thenounproject.com/term/monster/37212/">Husein Aziz</a>, <a href="https://thenounproject.com/term/monster/2236082">iconcheese</a>, and <a href="https://thenounproject.com/term/socks/38451/">Yazmin Alanis</a>.</small>
</footer>

{% endset %}

{% set description %}
I'm pretty excited with the project of this week. It's a simple but fun game.

For this one I tried to first do it by appending an inline svg for the icons. I stored the icon's code
to the monster array, but then it wasn't that simple to implement the alt text so I
decided to use the img as usual and linked the image to the link of the github gist
so I didn't have to download each image.

For the Grid, I'm using the auto-grid utility from [Andy Bell](https://piccalil.li).
{% endset %}


{% include "project.njk" %}
