---
title: "Monster Game!"
order: 15
date: 2021-06-30
methods: ['Element.closest()', 'Node.replaceWith()', 'Navigating with keyboard']
templateEngineOverride: njk, md
---


{% set html %}
<div data-app class="auto-grid game-play" aria-live="polite"></div>
<div class="game-win">
    <h2>You won!</h2>
    <p>Monsters are safe from socks... for the moment.</p>
    <img src="https://gobiznext.com/wp-content/uploads/2017/02/giphy-73.gif" 
    alt="A group of monsters from the movie Monsters University is in a celebration. Mike Wazowski, in the middle, is the light ball while the other monsters light him up and dance in celebration.">
    <button data-action="restart">Play again!</button>
</div>
<div class="game-loose">
    <h2>Code 23-19! You lost.</h2>
    <p>There was a sock behind the door and you lost this round.</p>
    <img src="https://thumbs.gfycat.com/DefensivePoshIchneumonfly-size_restricted.gif" 
    alt="A monster comes out of a door with a sock in his back. This brings panic among the monsters. An alarm is triggered and the sock is on the big screen.">
    <button data-action="restart">Play again!</button>
</div>

<footer>
    <small class="text-small text-muted">Icons by <a href="https://thenounproject.com/term/door/311732/">Jamie Dickinson</a>, <a href="https://thenounproject.com/term/monster/184225/">Nicky Knicky</a>, <a href="https://thenounproject.com/term/monster/1510400/">Alvaro Cabrera</a>, <a href="https://thenounproject.com/term/monster/28460/">Eliricon</a>, <a href="https://thenounproject.com/term/monster/82823/">April Yang</a>, <a href="https://thenounproject.com/term/monster/1062009/">tk66</a>, <a href="https://thenounproject.com/term/monster/24990/">Alex WaZa</a>, <a href="https://thenounproject.com/term/monster/37212/">Husein Aziz</a>, <a href="https://thenounproject.com/term/monster/2236082">iconcheese</a>, and <a href="https://thenounproject.com/term/socks/38451/">Yazmin Alanis</a>.</small>
</footer>
{% endset %}

{% set description %}
Okay, so I have here my first attempt. I was able to implement the basic functionality, but had
some trouble. So, first what I did:

- I included in the html the main game and also pages for win and lost games. 
By default only the main game is shown, and the idea is that when the gamestate changes,
a class is added to the body and the main game is hidden while the current state is shown.
- At load, I render the doors in a button and when it is clicked it reveals the monster.
- If it is a sock, I implemented a game over that chenges the state of the game to lost.
- If all monsters are revealed, change to win state.
- There is a button in the game-over and win views that restart the game: shows main, shuffles and
renders doors.
- Each time the doors are rendered, the focus is placed in the first one.

Now let's talk about issues it has:

- I tested with screen reader and try some things, but I didn't know how to make the
screen reader announce the correct information.
- The name of the object is revealed in the markup in a data attribute so it is 
possible to cheat with the source code.
- When you loose or win, the display changes and I wasn't able to make the screen reader
correctly announce this change.
{% endset %}


{% include "project.njk" %}
