---
title: "Random Ron: No duplicates"
order: 9
date: 2021-06-16
methods: ['Array.push()', 'Array.slice()', 'Array.shift()', 'Array.pop()', 'Array.includes()']
templateEngineOverride: njk, md
---

{% set html %}
<img alt="Ron Swanson standing in front of a buffet stating, 'I've said too much.'" src="https://giphygifs.s3.amazonaws.com/media/iofbYa67AbBg4/giphy.gif">
<div data-app>
    <blockquote data-quote aria-live="polite">
        <em>Any dog under 50 pounds is a cat, and cats are useless.</em>
    </blockquote>
    <p>This project is not a cat if your Javascript isn't working because you still get a quote!</p>
</div>
{% endset %}

{% set js %}
{% include jsFile %}
{% endset %}


{% set description %}
This one was simple, so this will be short. Interesting part, recursion.
I use recursion for fetching a new quote if the one fetched is in the Array that
stores the last 50 fetched quotes.
If it isn't there (a new quote), then I render it, add it at the end of the array
and if the length of the array is over 50, I remove the first element. 
(As I check this every time, I know I only need to remove one to keep it in 50).
{% endset %}


{% include "project.njk" %}
