---
title: "Timestamp Utility Library"
order: 23
date: 2021-08-28
methods: ['ES6 Object property shorthand syntax', 'Utility libraries', 'Revealing Module Pattern']
templateEngineOverride: njk, md
---


{% set html %}
This project is completely in Javascript so no UI for today. 

You can open your devtools if you want to have a look.
{% endset %}

{% set description %}
{% endset %}

{% include "project.njk" %}

