---
title: "Timestamp Constructor Library"
order: 24
date: 2021-08-30
methods: ['The Constructor pattern', 'Adding properties to Constructor', 'Attaching methods to a Constructor']
templateEngineOverride: njk, md
---


{% set html %}
This project is completely in Javascript so no UI for today. 

You can open your devtools if you want to have a look.
{% endset %}

{% set description %}
This is starting to become some serious code. The Constructor pattern feels
already like using some really advanced things and gives light to an object
oriented approach to the code that looks very interesting. 

I understand how to use it, but I don't get the concept of what is the prototype.

Other questions that come to me are how exactly does the new keyword work and the 
this I know has it's own bunch of stuff in there. 

For now, however, I'll go happy knowing that I can now work with this.
{% endset %}

{% include "project.njk" %}

