---
title: "Toggle Multiple Password Fields"
order: 2
date: 2021-06-02
methods: ['document.querySelectorAll()', 'for... of', 'Array.forEach() and Node.forEach()']
templateEngineOverride: njk, md
---


{% set html %}
<p>Enter your current password and new password below.</p>
<form>
    <div>
        <label for="current-password">Current Password</label>
        <input type="password" name="current-password" id="current-password">
    </div>
    <div>
        <label for="new-password">New Password</label>
        <input type="password" name="new-password" id="new-password">
    </div>
    <div>
        <label for="show-passwords">
            <input type="checkbox" name="show-passwords" id="show-passwords">
            Show passwords
        </label>
    </div>
    <p>
        <button type="submit">Change Passwords</button>
    </p>
</form>
{% endset %}

{% set js %}
// Select elements
let pwds = document.querySelectorAll('[type="password"]');
let toggle = document.querySelector('#show-passwords');

// Add the event listener to the toggle in order to change the display of the password fields
toggle.addEventListener('click', function (event) {
    for (let pwd of pwds) {
        pwd.type = toggle.checked ? 'text' : 'password';
    }
}); 

{% endset %}


{% set description %}
For this one in particular I used the for of because it's closer to what I'm used to
in Python so I like it more. 

The other interesting thing that I did was to change the way I check to the ternary
operator. It looks very interesting and makes your code a little more compact. However,
I'm still not sure if I like it because it's a little confusing to read. I think 
for simple cases like this I'll use it, but in more complex lines I'll stick with the 
classic if-else statement.
{% endset %}


{% include "project.njk" %}