---
title: "Toggle Password Visibility"
order: 1
date: 2021-05-31
methods: ['document.querySelector()', 'EventTarget.addEventListener()', 'element properties']
templateEngineOverride: njk, md
---

{% set description %}
As a basic project, this one was pretty simple. I have already worked a lot with
these methods so I did it pretty fast. However, someone in Slack sent an
[article](https://technology.blog.gov.uk/2021/04/19/simple-things-are-complicated-making-a-show-password-option/) 
I had read before about implementing this password toggle accessibly and 
progressively enhanced.

At the moment I've had no time to try and implement it, but it gave me lot's of insights.
I hope to implement it in the future, but in the meantime I mention the main ideas.

- Elements that require JS to work should be loaded by JS. In this case, the login
form works perfectly without JS, but the toggle don't so it can be loaded with JS.
- For screenreaders implement a hidden message that announces when the password
is shown but not the password field itself so that it's not read outloud.
- Never submit a password as a text field. This has some security problems like autocomplete.
{% endset %}


{% set html %}
<p>Enter your username and password to login.</p>
<form>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="show-password">
            <input type="checkbox" name="show-passwords" id="show-password">
            Show password
        </label>
    </div>
    <p>
        <button type="submit">Log In</button>
    </p>
</form>
{% endset %}

{% set js %}
{% include jsFile %}
{% endset %}

{% include "project.njk" %}